/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-full overflow-hidden;
}

:root [data-theme='crimson'] {
    --theme-rounded-base: 0.75rem;
}

body[data-theme='crimson'] {
    background: #f1f1f1;
}

.dark body[data-theme='crimson'] {
    background: #121212;
}

.oled body {
    background: #000000 !important;
    --bg-neutral-900: #000000;
}

@media (min-width: 512px) {
    .xs\:hidden {
        display: none;
    }
}

@media (max-width: 512px) {
    .xs\:showme {
        display: none;
    }
}
